
/*

#------------------------------------------------------------------------

# Simplicity - February Joomla! template (for Joomla 2.5)

#

# Copyright (C) 2007-2013 Gavick.com. All Rights Reserved.

# License: Copyrighted Commercial Software

# Website: http://www.gavick.com

# Support: support@gavick.com 

*/





b,
 strong {
	font-weight: 600
}

.k2box > ul,
 .k2box > ul ul {
	list-style-type: disc;
	padding-left: 20px
}

.k2box > ol,
 .k2box > ol ol {
	list-style-type: decimal;
	padding-left: 20px
}

.k2box > ul li,
 .k2box > ul ul li,
 .k2box > ol li,
 .k2box > ol ol li {
	list-style-position: outside;
	padding-left: 0
}

.gkfile1,
 .gkfile2,
 .gklink,
 .gkinfo,
 .gkpin,
 .gksettings,
 .gkmic,
 .gkbook,
 .gkmap,
 .gktag,
 .gkstats,
 .gkvoice,
 .gkvideo,
 .gklocked,
 .gkunlocked,
 .gklocation,
 .gkcomment,
 .gkalarm {
	background-position: 0 8px!important;
	background-repeat: no-repeat!important;
	min-height: 38px!important;
	padding: 0 0 2px 52px !important
}

p.gkInfo1,
 p.gkTips1,
 p.gkWarning1 {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	min-height: 36px;
	padding: 10px 10px 12px 86px
}

.gkHighlight1,
 .gkHighlight2,
 .gkHighlight3,
 .gkHighlight4 {
	cursor: default;
	padding: 1px 5px;
	text-shadow: none
}

pre,
 .gkCode1,
 .gkCode2,
 .gkCode3 {
	font: normal .92em/32px 'Curier New', monospace!important;
	margin: 20px 0!important;
	padding: 26px 30px!important;
}

pre,
 .gkCode1,
 .gkCode2 {
 -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	opacity: 1
}

.gkCode3 {
	border: 1px solid #eee;
	color: #363636;
	padding-left: 82px!important
}

.gkCode3 h4 {
	background: #4c90fe;
	color: #fff;
	font-size: 13px;
	margin: 0 0 0 -64px !important;
	padding: 2px 5px 0;
	position: relative;
	text-align: center;
	top: 0;
	width: 35px
}

div.gkCode2:hover,
 div.gkCode3:hover {
	color: #000
}

ol {
	list-style-position: inside;
	margin: 2em 0;
	padding: 0
}

ol.gkDec {
	list-style-type: decimal
}

ol.gkRoman {
	list-style-type: upper-roman
}

ol.gkAlpha {
	list-style-type: lower-alpha
}

ol.gkDecimalLeadingZero {
	list-style-type: decimal-leading-zero
}

ul.gkBullet1,
 ul.gkBullet2,
 ul.gkBullet3,
 ul.gkBullet4,
 #k2Container .itemFullText ul,
 #k2Container .itemIntroText ul {
	margin: 2em 0;
	padding: 0
}

ul li {
	list-style-position: outside
}

ul.gkBullet1 li,
 ul.gkBullet2 li,
 ul.gkBullet3 li,
 ul.gkBullet4 li,
 #k2Container .itemFullText ul li,
 #k2Container .itemIntroText ul li {
	line-height: 1.8em!important;
	list-style: none;
	margin: 0!important;
	overflow: inherit;
	padding: 2px 0 2px 28px
}

div.gkLegend1 h4 {
	background: #fff;
	float: left;
	font-size: 14px;
	font-weight: 400;
	left: 11px;
	line-height: 18px;
	margin: 0 0 -9px!important;
	padding: 0 10px;
	position: relative;
	text-transform: uppercase;
	top: -16px
}

div.gkLegend1 {
	margin: 30px 0;
	padding: 6px
}

div.gkLegend1 p {
	clear: both;
	margin: 7px
}

blockquote {
	font-style: italic;
	margin: 20px 0
}

blockquote div {
	display: block
}

blockquote div.gkBlockquote1 div,
 blockquote div.gkBlockquote2 div {
	background: url(../../images/style1/typography/close1.png) no-repeat right top;
	padding: 0 22px
}

blockquote div.gkBlockquote3 {
	background: url(../../images/style1/typography/open2.png) no-repeat left bottom;
	padding-bottom: 1px
}

blockquote div.gkBlockquote3 div {
	background: url(../../images/style1/typography/close2.png) no-repeat right top;
	padding: 5px 48px 0
}

blockquote div.gkBlockquote4 div {
	background: url(../../images/style1/typography/close2.png) no-repeat right top;
	padding: 0 48px
}

.gkBlockTextLeft,
 .gkBlockTextRight,
 .gkBlockTextCenter {
	color: #242424;
	display: block;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	line-height: 170%;
	padding: 30px 40px;
	width: 38%
}

.gkBlockTextLeft {
	float: left;
	padding-left: 0;
	text-align: left
	
}

.gkBlockTextRight {
	float: right;
	padding-right: 0;
	text-align: right
}

.gkBlockTextCenter {
	margin: 0 auto;
	text-align: center
}

p.numblocks {
	margin: 20px 0;
	min-height: 56px;
	padding: 0 0 24px 75px !important;
	position: relative
}

p.numblocks span {
	-moz-border-radius: 50%;
	-ms-webkit-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	display: block;
	font-size: 24px;
	font-weight: 600;
	height: 52px;
	left: 0;
	line-height: 52px;
	position: absolute;
	text-align: center;
	top: 4px;
	width: 52px
}

p.num-1 span {
	background: #fec54c;
}

p.num-2 span {
	background: #fe654c;
}

p.num-3 span {
	background: #4c90fe;
}

p.numblocks span.highlight {
	border-right: none;
	display: inline;
	font-size: 15px;
	position: static;
	width: auto
}

.gkblock-1,
 .gkblock-2,
 .gkblock-3 {
	margin: 20px 0;
	padding: 15px 20px
}

.bubble-1,
 .bubble-2 {
	margin: 20px 0 40px;
	padding: 15px 20px;
	position: relative
}

.bubble-1::after,
 .bubble-2::after {
	border-color: transparent;
	border-style: solid;
	border-width: 22px 0 0 22px;
	bottom: -22px;
	content: "";
	display: block;
	left: 30px;
	position: absolute;
	width: 0;
}

.bubble-1 cite,
 .bubble-2 cite {
	bottom: -25px;
	display: block;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	height: 25px;
	left: 26px;
	line-height: 36px;
	padding-left: 32px;
	position: absolute
}

blockquote div.gkBlockquote1 {
	background: url(../../images/style1/typography/open1.png) no-repeat left bottom
}

blockquote div.gkBlockquote2 {
	background: url(../../images/style1/typography/open1.png) no-repeat left top
}

blockquote div.gkBlockquote4 {
	background: url(../../images/style1/typography/open2.png) no-repeat left top
}

pre {
	border: 1px solid #e5e5e5;
	border-left: 4px solid #fe654c;
	color: #363636;
	padding-left: 32px
}

.gkCode2 {
	border: 1px solid #e5e5e5;
	border-top: 4px solid #FEC54C;
	color: #363636
}

p.gkInfo1 {
	background: #FEC54C url(../../images/style1/typography/info.png) no-repeat 6px 50%;
}

p.gkTips1 {
	background: #4c90fe url(../../images/style1/typography/tips.png) no-repeat 6px 50%;
}

p.gkWarning1 {
	background: #fe654c url(../../images/style1/typography/warning.png) no-repeat 6px 50%;
}

div.gkLegend1 {
	border: 4px double #e5e5e5
}

div.gkLegend1 h4 {
	background: #fff;
	color: #242424
}

.gkHighlight1 {
	background: #ffd
}

.gkHighlight4 {
	background: #FEC54C;
	color: #fff
}

.gkblock-1 {
	border: 1px solid #e5e5e5
}

.gkblock-2 {
	background: #FFFEF4;
	border: 1px solid #EAE8CC
}

.gkblock-3 {
	background: #f8f8f8
}

.bubble-1 {
	background: #242424;
	color: #fff
}

.bubble-1::after {
	border-color: #242424;
	border-left: 22px solid transparent;
}

.bubble-2 {
	background: #4c90fe;
	color: #fff
}

.bubble-2::after {
	border-color: #4c90fe;
	border-left: 22px solid transparent;
}

.bubble-1 cite {
	color: #363636
}

.bubble-2 cite {
	color: #4c90fe
}

ul.gkBullet1 li,
 #k2Container .itemFullText ul li,
 #k2Container .itemIntroText ul li {
	background: url(../../images/style1/typography/bullet1.png) no-repeat 0 12px!important
}

ul.gkBullet2 li {
	background: url(../../images/style1/typography/bullet2.png) no-repeat 0 12px!important
}

ul.gkBullet3 li {
	background: url(../../images/style1/typography/bullet3.png) no-repeat 0 12px!important
}

ul.gkBullet4 li {
	background: url(../../images/style1/typography/bullet4.png) no-repeat 0 12px!important
}

ul#demo-typography {
	background: transparent;
	overflow: hidden;
	padding: 10px 30px 30px
}

ul#demo-typography li {
	color: #cb260a;
	float: left;
	font-size: 11px;
	line-height: 24px;
	list-style-position: none;
	list-style-type: disc;
	width: 23.9%
}

ul#demo-typography li a {
	font-size: 11px;
	text-shadow: 2px 2px 0 #fff
}

.demo-typoDiv {
	clear: both;
	margin: 0 0 30px;
	overflow: hidden
}

h4.demo-typo {
	border-bottom: 1px solid #eee;
	color: #363636;
	font-size: 20px;
	font-weight: 300;
	margin: 30px 0
}

.demo-typo-col2 {
	float: left;
	width: 50%
}

.demo-typo-col3 {
	float: left;
	width: 33%
}

.demo-typo-col4 {
	float: left;
	width: 25%
}

.demo-typo_padd {
	padding: 0 15px
}

#warnings .demo-typo_padd p {
	margin: 1em 0 1.6em
}

.typoDesc small {
	color: #999;
	font: normal 10px Monaco, Consolas, "Courier News", monospace
}

.gkblock-3 small {
	color: #353639!important
}

.bubble-2 small {
	color: #fff
}

.gkHighlight3:hover, 
.gkHighlight2:hover {
 background: #FEC54C;
 color: #fff
}

.gkHighlight1:hover,
 pre:hover,
 .gkCode1:hover {
	background: #fff
}

.gkHighlight3,
 span.helpTooltip {
	background: #fe654c;
	color: #fff
}

.gkHighlight2,
.gkHighlight4:hover {
	background: #4c90fe;
	color: #fff
}
