@import "../../jui/less/mixins.less";

.transition-duration(@transition) {
	-webkit-transition-duration: @transition;
	-moz-transition-duration: @transition;
	-o-transition-duration: @transition;
	transition-duration: @transition;
}
