

#k2Container {
	overflow: hidden;
	padding-bottom: 24px;
}

.k2FeedIcon a,
a.k2FeedIcon {
	background: url('../images/k2/rss.png') no-repeat 0 0;
	color: #333 !important;
	display: block;
	float: left;
	height: 21px;
	line-height: 21px;
	padding: 0 0 0 32px
}

.k2FeedIcon a:hover,
a:hover.k2FeedIcon {
	color: #222
}

.k2FeedIcon a {
	float: none
}

.itemFeature {
	background: #fe654c;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	padding: 6px 16px;
	position: absolute;
	top: 0;
	right: 0;
	text-transform: uppercase
}

.itemListView .itemFeature {
	left: 0;
	right: inherit
}

ul li.itemResizer a {
	background: url('../images/k2/fonts.png') no-repeat 100% 5px;
	display: inline-block;
	height: 15px;
	text-indent: -9999em;
	width: 15px
}

ul li.itemResizer span {
	padding: 0 6px 0 0
}

ul li.itemResizer #fontIncrease {
	background-position: 0 5px
}

.smallerFontSize {
	font-size: 90%!important
}

.largerFontSize {
	font-size: 115%!important
}

.itemImageBlock {
	position: relative
}

.itemImage {
    clear: none;
    display: block;
    line-height: 0;
    margin: 0 0 40px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.itemsContainerWrap .itemImage {
	margin: 0 0 16px 0;
}

.itemImageBlock img {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	height: auto;
	max-width: 100%;
	padding: 0
}

.itemImageBlock img:hover {
	-moz-box-shadow: inset 0 0 12px rgba(0,0,0,0.4);
	-ms-box-shadow: inset 0 0 12px rgba(0,0,0,0.4);
	-o-box-shadow: inset 0 0 12px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0 0 12px rgba(0,0,0,0.4);
	box-shadow: inset 0 0 12px rgba(0,0,0,0.4)
}

.itemImageCaption {
	border-bottom: 1px solid #eee;
	color: #999;
	display: block;
	font-size: 12px;
	margin: -40px 0 40px;
	padding: 9px 0
}

.itemImageBlock > a {
	display: block;
	width: 100%
}

#gkproc h2 {
	top: 0px; 
	position: absolute; 
	left: -6811px;
}
.itemExtraFields ul li span.itemExtraFieldsValue,
.itemLinks .itemCategory a,
.itemLinks .itemAttachmentsBlock ul,
.itemLinks .itemTagsBlock ul {
	display: block;
	margin: 0 0 0 27%
}

.itemLinks .itemTagsBlock,
.itemLinks .itemSocialSharing {
	clear: both;
	overflow: hidden
}

.itemSocialSharing {
	border-top: 1px solid #e5e5e5;
	float: left;
	overflow: visible!important;
	padding: 20px 0;
	width: 100%
}

.itemExtraFields {
	font-size: 12px;
	margin: 8px 0 24px
}

.itemExtraFields h3 {
	font-size: 18px;
	padding: 0 0 8px
}

small.itemDateModified {
	color: #999;
	display: block;
	font-style: italic;
	text-align: right
}

.itemRatingForm {
	display: block;
	line-height: 25px;
	vertical-align: middle
}

.itemRatingLog {
	color: #999;
	float: left;
	font-size: 11px;
	line-height: 25px;
	padding: 4px 0 0 12px
}

span#formLog {
	background: #418cd1;
	clear: both;
	color: #FFF;
	display: block;
	float: none;
	margin: 10px 0;
	position: relative;
	text-align: center;
	top: 10px
}

.itemRatingForm .formLogLoading {
	padding: 0 0 0 20px
}

.itemRatingList,
.itemRatingList a:hover,
.itemRatingList .itemCurrentRating {
	background: url('../images/k2/star.png') left -1000px repeat-x
}

.itemRatingList {
	background-position: left top;
	float: right;
	height: 25px;
	list-style: none;
	margin: 6px 0 0 32px !important;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 124px
}

.itemRatingList li {
	background: none;
	border: none!important;
	display: inline;
	padding: 0
}

.itemRatingList a,
.itemRatingList .itemCurrentRating {
	border: none;
	cursor: pointer;
	height: 25px;
	left: 0;
	line-height: 25px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-align: left;
	text-indent: -1000px;
	top: 0
}

.itemRatingList a:hover {
	background-position: left center
}

.itemRatingList a.one-star {
	width: 20%;
	z-index: 6
}

.itemRatingList a.two-stars {
	width: 40%;
	z-index: 5
}

.itemRatingList a.three-stars {
	width: 60%;
	z-index: 4
}

.itemRatingList a.four-stars {
	width: 80%;
	z-index: 3
}

.itemRatingList a.five-stars {
	width: 100%;
	z-index: 2
}

.itemRatingList .itemCurrentRating {
	background-position: 0 bottom;
	margin: 0;
	padding: 0;
	z-index: 1
}

.k2TagCloudBlock a {
	display: block;
	float: left;
	margin: 6px 12px 6px 0
}

.k2TagCloudBlock a:hover {
	background-position: 0 -303px
}

.itemExtraFields ul li {
	border-top: 1px solid #eee;
	list-style: none;
	padding: 5px 0
}

.itemLinks ul li {
	list-style: none
}

.itemAttachmentsBlock {
	background: url('../images/style1/typography/tips.png') no-repeat 16px 8px #FFFEF4;
	border: 1px solid #EAE8CC;
	margin: 0 0 48px;
	min-height: 38px;
	padding: 10px 10px 12px 80px
}

.itemLinks .itemAttachmentsBlock ul li a {
	color: #222;
	font-weight: 700
}

.itemLinks .itemAttachmentsBlock ul li a span {
	color: #676767;
	font-size: 11px;
	font-weight: 400
}

.itemAuthorData {
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	margin: 0 0 60px;
	overflow: hidden;
	padding: 32px;
}

.itemAuthorData img {
	float: left;
}

.itemAuthorDetails {
	margin-left: 130px
}

.itemAsideInfo img,
.itemComments .itemCommentsList li > span.gkAvatar img,
.lcAvatar img,
.itemAuthorData img {
	max-width: 86px!important;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.itemAuthorContent h3 {
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
}

.itemAuthorContent {
	border-top: 1px solid #E5E5E5;
	clear: both;
	margin: 0 0 32px;
	padding: 20px 0 0;
	overflow: hidden
}

.itemAuthorContent ul li a,
.itemNavigation {
	clear: both;
	color: #848484;
	padding: 0
}

.itemComments h3 {
	border-top: 1px solid #e5e5e5;
	font-size: 38px;
	font-weight: 300;
	padding: 60px 0 0
}

.commentLink {
	color: #999;
}

a.itemCommentsAuthor {
	color: #333 !important;
	font-size: 17px;
	font-weight: 600
}

a:hover.itemCommentsAuthor {
	color: #4C90FE
}

.itemCommentsForm label {
	clear: both;
	display: block;
	padding: 12px 0 3px
}

.itemCommentsForm .inputbox,
.itemCommentsForm textarea.inputbox {
	width: 100%
}

.itemCommentsForm #submitCommentButton {
	clear: both;
	margin: 20px 0 0
}

.itemCommentsForm .itemCommentsFormNotes {
	color: #999;
	font-size: 12px;
	margin: 6px 0 36px
}

.itemComments p {
	margin: .5em 0
}

.itemComments .itemCommentsList,
.itemComments .itemCommentsForm {
	clear: both;
	padding: 0 0 12px
}

.itemComments .itemCommentsList li {
	border-top: 1px solid #e5e5e5;
	margin: 24px 0 0;
	padding: 24px 0 0
}

.itemComments .itemCommentsList li:first-child {
	border: none
}

.itemComments .itemCommentsList li > div {
	margin: 0 0 0 80px;
	padding-left: 10px
}

.itemComments .itemCommentsList li > span.gkAvatar {
	float: left;
	margin: 2px 0 0
}

.itemComments .itemCommentsList li div div span {
	color: #999;
	font-size: 13px;
	margin-right: 16px
}

.userView article,
.genericView article,
.itemList article {
	clear: both;
	margin: 0 0 90px 0;
}

.itemList {
	overflow: hidden;
}

.genericView .itemView {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	clear: none!important;
	float: left;
	padding: 0 0 0 20px;
	width: 50%;
}
.genericView .itemView.itemViewClear {
	clear: both!important;
	padding: 0 20px 0 0;
}

.genericView .itemView h2 {
    font-size: 21px;
    color: #333;
    font-family: 'GothamProRegular';
    padding: 0;
    background: transparent;
    line-height: 1.1;
    margin: 0;
    letter-spacing: -0.01em;
}

.genericView header h1 { font-size: 24px; color: #FE654C }
.subCategoryContainer {
	float: left;
	margin-bottom: 32px
}

.subCategoryContainer .subCategory {
	margin: 0 32px 24px 0
}

#itemListLinks ul {
	margin: 12px 0 0
}

#itemListLinks li {
	background: url('../images/style1/typography/bullet-square2.png') no-repeat 0 6px;
	font-size: 13px;
	padding-left: 24px
}

#itemListLinks a {
	color: #737373
}

.k2LatestCommentsBlock .k2FeedIcon {
	margin-top: 16px
}

.k2LatestCommentsBlock ul li,
.k2TopCommentersBlock ul li {
	font-size: 14px;
	border-bottom: 1px solid #eee;
	line-height: 1.5!important;
	list-style: none!important;
	padding: 12px 0!important
}

.k2LatestCommentsBlock ul li p {
	margin: 0.5em 0
}

.k2LatestCommentsBlock div,
.k2TopCommentersBlock div {
	padding-left: 16px
}

.k2LatestCommentsBlock p,
.k2LatestCommentsBlock p,
.k2LatestCommentsBlock p a,
.k2TopCommentersBlock p a {
	color: #848484;
}

.k2LatestCommentsBlock p a:hover,
.k2TopCommentersBlock p a:hover {
	color: #363636;
}

.k2LatestCommentsBlock div span,
.k2TopCommentersBlock div span {
	color: #999;
	display: block;
	font-size: 11px;
}

.k2Avatar {
	display: block!important;
	float: left;
	margin: 0 24px 0 0
}

.lcAvatar {
	padding: 4px 0 0
}

.lcUsername {
	font-size: 12px;
	font-weight: 600
}

.k2CommentItem div {
	margin-bottom: 6px;
	padding-bottom: 2px
}

.k2CommentItem span.lcItemTitle {
	color: #2f3336;
	display: block;
	font-weight: 600;
	padding: 0 0 9px
}

.k2CommentItem a {
	color: #888
}

.k2CommentItem span.lcCommentDate {
	color: #999;
	display: block;
	font-size: 10px
}

.k2AuthorsListBlock ul li {
	border: none;
	border-bottom: 1px solid #eee;
	padding: 12px 0
}

.k2AuthorsListBlock ul li a.abAuthorLatestItem {
	clear: both;
	display: block;
	font-size: 11px;
	line-height: 14px;
	margin: 12px 0 0;
	padding: 0 0 0 12px
}

.k2AuthorsListBlock ul li a.abAuthorLatestItem span {
	color: #777;
	display: block;
	font-size: 10px
}

#gkRight .k2Avatar,
#gkLeft .k2Avatar {
	border-color: #fff
}

.tcUsername {
	color: #333;
	font-size: 18px
}

.tcLatestComment {
	color: #737373;
	display: block;
	font-size: 13px;
	margin: 6px 0
}

.tcLatestCommentDate {
	color: #999;
	display: block;
	font-size: 11px
}

div .k2ItemsBlock ul {
	margin-right: -20px
}

div .k2ItemsBlock ul li {
	background: none!important;
	list-style: none!important;
	margin: 0 0 12px;
	padding: 12px 20px 12px 0 !important
}

a.moduleItemTitle {
	color: #2f3336;
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px
}

.moduleItemAuthor {
	border-bottom: 1px solid #e5e5e5;
	font-size: 11px;
	margin: 0 0 16px;
	overflow: hidden
}

.moduleItemAuthor a {
	color: #2f3336;
	display: block;
	font: bold 12px Verdana, Geneva, sans-serif;
	padding: 0 0 12px
}

.moduleItemIntrotext {
	display: block;
	line-height: 1.6;
	padding: 12px 0 0
}

.moduleItemIntrotext a.moduleItemImage img {
	float: left;
	margin: 4px 0;
	overflow: hidden
}

.moduleItemDateCreated,
.moduleItemCategory {
	color: #999;
	font: normal 10px Verdana, Geneva, sans-serif
}

.moduleItemExtraFields ul li span.moduleItemExtraFieldsLabel {
	display: block;
	float: left;
	font-weight: 700;
	margin: 0 4px 0 0;
	width: 30%
}

.moduleItemTags,
.moduleAttachments {
	border-top: 1px solid #e5e5e5;
	margin: 12px 0 0;
	overflow: hidden;
	padding: 12px 0 0
}

.moduleItemTags strong {
	color: #2f3336;
	font-size: 12px
}

a.moduleItemComments {
	font-size: 12px
}

a:hover.moduleItemComments {
	background-position: 0 100%;
	color: #fff
}

.k2ItemsBlock ul li span.moduleItemHits {
	font-size: 90%
}

.moduleItemImage {
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
	width: 100%
}

.moduleItemReadMore {
	clear: both;
	display: block
}

.k2LoginBlock fieldset.input {
	margin: 0;
	padding: 0 0 8px
}

.k2LoginBlock fieldset.input p {
	margin: 0;
	padding: 0 0 4px
}

.k2LoginBlock fieldset.input p#form-login-remember label,
.k2LoginBlock fieldset.input p#form-login-remember input {
	display: inline
}

.k2UserBlock p.ubGreeting {
	border-bottom: 1px dotted #eee
}

.k2UserBlock .k2UserBlockDetails span.ubName {
	display: block;
	font-size: 14px;
	font-weight: 700
}

.k2BreadcrumbsBlock span.bcTitle {
	color: #999;
	padding: 0 4px 0 0
}

.k2BreadcrumbsBlock span.bcSeparator {
	font-size: 14px;
	padding: 0 4px
}

.k2CalendarBlock {
	margin: 12px 0
}

.k2CalendarLoader {
	background: #fff
}

.k2CalendarBlock table.calendar {
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%
}

.k2CalendarBlock table.calendar tr td {
	border: 1px solid #fff;
	padding: 6px;
	text-align: center;
	vertical-align: middle
}

.k2CalendarBlock table.calendar tr td.calendarNavMonthPrev,
.k2CalendarBlock table.calendar tr td.calendarNavMonthNext {
	font-size: 15px!important;
	text-align: center
}

.k2CalendarBlock table.calendar tr td.calendarDayName {
	background: #f5f5f5;
	color: #333;
	width: 14.2%
}

.k2CalendarBlock table.calendar tr td.calendarDateEmpty {
	background: #fbfbfb
}

.k2CalendarBlock table.calendar tr td.calendarDateLinked a {
	display: block;
	padding: 2px
}

.k2CalendarBlock table.calendar tr td.calendarDateLinked a:hover {
	color: #fff!important;
	display: block;
	padding: 6px;
}

.k2CalendarBlock table.calendar tr td.calendarToday {
	background: #4C90FE;
	color: #fff
}

.k2CalendarBlock table.calendar tr td.calendarTodayLinked {
	background: #f5f5f5;
	padding: 0
}

table.calendar tr td.calendarTodayLinked a {
	color: #4c90fe;
	display: block;
	font-size: 12px;
	font-weight: 700;
	padding: 2px
}

.k2CalendarBlock table.calendar tr td.calendarTodayLinked a:hover {
	background: #252525;
	color: #fff;
	display: block;
	padding: 2px
}

.calendarNavLink {
	color: #4c90fe;
}

.calendarCurrentMonth {
	color: #333;
	font-weight: 600
}

.gkColumns > aside .k2CalendarBlock table.calendar,
.gkColumns > aside .k2CalendarBlock table.calendar tr td {
	background: none;
	border: none;
	color: #fff
}

.gkColumns > aside .k2CalendarBlock table.calendar tr td.calendarDateLinked a {
	font-size: 18px;
	font-weight: 700
}

.gkColumns > aside .calendarNavMonthPrev,
.gkColumns > aside .calendarCurrentMonth,
.gkColumns > aside .calendarNavMonthNext {
	background: #2f3336!important
}

.k2CategorySelectBlock form select {
	width: auto
}

#k2Container .gsc-control {
	width: 100%
}

span.ubUserEmail {
	display: inline-block;
	height: 16px;
	margin: 0 2px 0 0;
	overflow: hidden;
	padding: 0;
	width: 16px
}

span.ubUserEmail a {
	display: inline-block;
	height: 16px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	width: 16px
}

.k2UsersBlock ul li h3 {
	clear: both;
	margin: 8px 0 0;
	padding: 0
}

.catCounter {
	font-size: 11px;
	font-weight: 400
}

.itemCommentsPagination ul li {
	display: inline-block;
	font-size: 80%;
	margin: 0 3px
}

.itemsContainer .itemsContainerWrap,
.itemContainer .itemsContainerWrap {
	margin: 0 0 0 20px
}

.itemsContainer:first-child .itemsContainerWrap,
.itemContainer:first-child .itemsContainerWrap {
	/*margin: 0!important*/
}

.itemBody.containsItemInfo,
.itemOtherElements.containsItemInfo,
.itemListView .itemBlock.containsItemInfo {
	/*margin-left: 160px*/
}

.itemBottom .itemRatingBlock span,
.itemBottom .itemRatingBlock .itemRatingList,
.itemBottom .itemRatingBlock .itemRatingForm ul.itemRatingList li,
.itemLinks .itemCategory span,
.itemLinks .itemAttachmentsBlock > span,
.itemExtraFields ul li span.itemExtraFieldsLabel,
.latestView .itemsContainer,
.itemLinks .itemSocialSharing > div,
.itemCommentsForm textarea,
.itemCommentsForm .inputbox,
.itemContainer {
	float: left;
}

.itemContainer {
	width: 100%;
}

.itemRatingBlock,
.itemListSubCategories {
	border-top: 1px solid #E5E5E5;
	margin: 60px 0 0;
	overflow: hidden;
	padding: 20px 0;
}

.itemComments .itemCommentsList li > span > img,
.k2LoginBlock fieldset.input p label,
.k2LoginBlock fieldset.input p input {
	display: block
}

.itemAuthorData a,
.itemAuthorContent ul li a:hover,
#itemListLinks a:hover,
.k2CommentItem span a,
.k2CommentItem a:hover {
	color: #2f3336
}

.itemAuthorData .itemAuthorContent,
itemContainerLast article {
	margin: 0
}

#itemCommentsAnchor,
.clr,
#itemListLinks,
.moduleItemAuthor p {
	clear: both
}
#gkpro h2 {
	top: 0px; 
	position: absolute; 
	left: -6722px;
}

.itemBackToTop,
.moduleItemTags a {
	float: right
}

.k2CalendarBlock table.calendar tr td.calendarDateLinked,
.itemContainerLast:first-child .itemImageBlock,
.clr + .itemContainerLast .itemImageBlock {
	padding: 0
}

#k2Container .gsc-branding-text,
.itemCommentsPagination ul {
	text-align: right
}

#k2Container .gs-visibleUrl,
a.ubUserFeedIcon span,
a.ubUserFeedIcon:hover span,
a.ubUserURL span,
a.ubUserURL:hover span { 
	display: none
}

a.ubUserFeedIcon,
a.ubUserFeedIcon:hover,
a.ubUserURL,
a.ubUserURL:hover {
	display: inline-block;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
	width: 16px
}

.itemsContainerWrap2 h2,
.itemsContainerWrap3 h2 {
	font-size: 28px;
	line-height: 36px;
}

.itemIntroText ol,
.itemFullText ol {
	list-style: decimal;
	list-style-position: inside;
}
.k2ArchivesBlock ul li { border: none; padding: 2px 0}
.k2ArchivesBlock ul li b { font-size: 11px; font-weight: 400; color: #ccc; padding: 0 0 0 4px}

.gkPage.custom-p{
    max-width: 1020px;
    padding: 20px 40px;
    margin-top: 120px!important;
    background: #fff;
	z-index: 1;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.custom-p aside#gkSidebar {
    max-width: 300px;
    width: 100%;
    float: right;
    margin-top: 50px;
	z-index: 20;
    position: relative;
    background: #fff;
}
.custom-p #gkContentWrap {
    width: 100%;
    max-width: 640px;
    padding-right: 40px;
}
.custom-p #gkSidebar {
    max-width: 300px;
    width: 100%;
    float: right;
    padding-left: 0;
}
.itemImage-block{
	position: relative;
	z-index: 1;
}
.itemAsideInfo{
    position: absolute;
    z-index: 55;
    bottom: 10px;
    width: 100%;
    padding: 0 20px;
}
.custom-p .box .header{
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
}
.custom-p .custom_navigator{
	padding-left: 0;
}
.custom-p h1 {
    color: #fff;
    font-size: 35px;
    font-family: 'GothamProBold';
}
.custom-p .itemFullText{
    font-size: 15px;
	line-height: 1.52;
}
.custom-p .itemIntroText{
    color: #fff;
    font-family: 'GothamProMedium';
    opacity: 0.78;
    line-height: 1.2;
}
.custom-p .itemFullText p {
    margin: 0 0 20px;
}
#gkMainbody .itemTagsBlock > a{
    color: #0059cd;
    padding: 2px 5px;
    margin-right: 5px;
    background: #fff;
    font-size: 13px;
    text-transform: uppercase;
}
#gkMainbody .itemTagsBlock > a:hover{
	color: #fff;
	background: #004488;
}
.custom-p{
    font-family: 'GothamProRegular';
}
.share-buttons * {
    padding: 0!important;
}
.share-buttons {
    margin: 10px auto 0!important;
}
.share-buttons .col-sm-3{
	padding: 0;
}
.share-buttons .fa {
    color: #fff;
    font-size: 20px!important;
    margin: 5px 20px 0px 25px;
    display: inline-block;
}
.counter {
    display: inline-block;
    color: #fff;
    font-family: 'GothamProMedium'!important;
    font-size: 18px;
    margin: 3px 0 0;
	float: initial!important;
    font-style: normal;
}
#itemListLeading img{
    max-width: 115%!important;
}
#itemListLeading .post_title > h2{
    font-family: 'GothamProBold';
    padding: 0 20px 0 0;
    max-width: 525px;
    line-height: 1.1em;
}
.soc-but{
    display: table;
    width: 100%;
}
.itemImage {
    clear: none;
    display: block;
    line-height: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#second_tags .post_title h2 a {
    font-size: 21px;
    color: #333;
    font-family: 'GothamProRegular';
    padding: 0;
    background: transparent;
    line-height: 1.1;
    margin: 0;
    letter-spacing: -0.01em;
}
.itemImageCredits{
    color: #fff;
    text-transform: uppercase;
    font-size: 9px;
    opacity: .8;
    text-align: right;
    float: right;
}
.itemBackToTop{
    height: 35px;
	margin: 15px auto 10px;
    width: 35px;
	float: none;
	display: table;
	background: url(/images/top.svg);
}
.itemsCategory p{
    max-width: 550px;
    padding: 0 0 0 10px;
    font-family: 'GothamProRegular';
    width: 100%;
    margin: -10px 0 20px 0;
}