/*
#------------------------------------------------------------------------
# Simplicity - February Joomla! template (for Joomla 2.5)
#
# Copyright (C) 2007-2013 Gavick.com. All Rights Reserved.
# License: Copyrighted Commercial Software
# Website: http://www.gavick.com
# Support: support@gavick.com 
*/

.gkPage {
	padding: 0 15px!important;
}

#gkSidebar .box,
#gkBottom1 .box,
#gkBottom2 .box,
#gkBottom3 .box,
#gkBottom4 .box,
#gkBottom5 .box,
#gkBottom6 .box {
	clear: both!important;
	float: none!important;
	width: 100%;
}
#gkBottom1 .box,
#gkBottom2 .box,
#gkBottom3 .box,
#gkBottom4 .box,
#gkBottom5 .box,
#gkBottom6 .box  {
	margin-bottom: 20px;	
}
#gkSidebar > div {
	margin-top: 20px!important;
	padding-top: 25px!important;
	position: relative!important;
	margin: 15px auto!important;
}
#gkSidebar > div > .box {
	float: none;
	margin-top: 0!important;
	margin-bottom: 12px!important;
	width: 100%;
}
#gkSidebar > div > .box:nth-child(2n+1) {
	clear: both!important;
}
#gkSidebar > div > .box:nth-child(odd) {
	padding-right: 0px;	
}
#gkSidebar > div > .box:nth-child(even) {
	padding-left: 0px;
}

/* limitation suffixes */
.box.notablet {
	display: block!important;
}
.box.nomobile {
	display: none!important;
}
.box.onlytablet {
	display: none!important;
}
.box.onlymobile {
	display: block!important;
}

/* Fix for the user profile */
.profile dt {
	width: 100% !important;
}

/* Fix for the contact page */
.contact .contact-image {
	float: left !important;
}
.contact .contact-address {
	clear: both !important;
	padding-top: 20px !important;
}
.contact .contact-form input,
.contact .contact-form textarea {
	width: 100% !important;
}

/* Fix for the search */
fieldset.word #search-searchword,
fieldset.word .inputbox {
	width: 50%;
}
fieldset.phrases .ordering-box,
fieldset.only input[type="checkbox"],
fieldset.phrases input[type="radio"] {
	clear: both;
}

/* Fix for the register */
#member-registration dd {
	clear: both !important;
	display: block !important;
}

/* Fix for tables */
fieldset {
	box-sizing: border-box!important;
	max-width: 100%!important;
	width: 100%!important;
	overflow: hidden;
}
.scrl_mob{
	display: table;
	width: 100%;
	color: red;
	margin: 20px 0;
	text-align: center;
}
#gkMainbody table:before {
	content: "Scroll horizontally to view the whole table";
	height: 14px;
	width: 100%;
	display: block;
	font-size: 10px;
	margin-top: -30px;
	margin-bottom: 10px;
	font-family: Arial, sans-serif;
}
#gkMainbody table {
	width: 540px!important;
	display: block!important;
	padding: 30px 0 20px 0; /* padding for the scrollbars and the top message */
	overflow:scroll;
	-webkit-overflow-scrolling:touch;
}
#gkMainbody table tbody,
#gkMainbody table thead,
#gkMainbody table tfoot {
	width: 540px!important;
	display: table;
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) and (-moz-max-device-pixel-ratio: 1.5), only screen and (max-device-width: 320px) and (-o-max-device-pixel-ratio: 1.5/1), only screen  and (max-device-width: 320px) and (-webkit-max-device-pixel-ratio: 1.5), only screen and (max-device-width: 320px) and (max-device-pixel-ratio: 1.5), only screen and (max-device-width: 640px) and (-moz-min-device-pixel-ratio: 2), only screen and (max-device-width: 640px) and (-o-min-device-pixel-ratio: 2/1), only screen and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-device-width: 640px) and (min-device-pixel-ratio: 2) {
	#gkMainbody table {
		width: 300px!important;
		position: relative;
	}
}

@media only screen and (max-width: 480px) and (orientation:landscape), only screen and (max-device-width: 480px) and (-moz-max-device-pixel-ratio: 1.5) and (orientation:landscape), only screen and (max-device-width: 480px) and (-o-max-device-pixel-ratio: 1.5/1) and (orientation:landscape), only screen  and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 1.5) and (orientation:landscape), only screen and (max-device-width: 480px) and (max-device-pixel-ratio: 1.5) and (orientation:landscape), only screen and (max-device-width: 960px) and (-moz-min-device-pixel-ratio: 2) and (orientation:landscape), only screen and (max-device-width: 960px) and (-o-min-device-pixel-ratio: 2/1) and (orientation:landscape), only screen and (max-device-width: 960px) and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape), only screen and (max-device-width: 960px) and (min-device-pixel-ratio: 2) and (orientation:landscape) {
	#gkMainbody table {
		width: 420px!important;
	}
}

/* top/bottom modules */
.box.gkmod-1,
.box.gkmod-2,
.box.gkmod-3,
.box.gkmod-4,
.box.gkmod-more {
	float: left!important;	
}
.box.gkmod-1,
.box.gkmod-2,
.box.gkmod-3,
.box.gkmod-4,
.box.gkmod-more {
	width: 100%!important;
}
.box.gkmod-more.gkmod-last-1:last-child,
.box.gkmod-more.gkmod-last-2:last-child,
.box.gkmod-more.gkmod-last-2:nth-last-child(2),
#gkPageWrap .box.gkmod-more.gkmod-last-3:last-child,
#gkPageWrap .box.gkmod-more.gkmod-last-3:nth-last-child(2),
#gkPageWrap .box.gkmod-more.gkmod-last-3:nth-last-child(3) {
	width: 100%!important;
}

/* top/bottom modules */
body #gkPage .box {
	margin-bottom: 20px!important;
}

/* 3-column layout */
.gkCols3 .box.gkmod-more:nth-child(1n) {
	clear: both;
}
.gkCols3 .box.gkmod-1,
.gkCols3 .box.gkmod-2,
.gkCols3 .box.gkmod-3,
.gkCols3 .box.gkmod-more,
.gkCols3 .box.gkmod-more.gkmod-last-1:last-child,
.gkCols3 .box.gkmod-more.gkmod-last-2:last-child,
.gkCols3 .box.gkmod-more.gkmod-last-2:nth-last-child(2) {
	width: 100%!important;
}

/* 4-column layout */
body .gkCols4 .box.gkmod-more:nth-child(1n) {
	clear: both;
}
body .gkCols4 .box.gkmod-1,
body .gkCols4 .box.gkmod-2,
body .gkCols4 .box.gkmod-3,
body .gkCols4 .box.gkmod-4,
body .gkCols4 .box.gkmod-more,
body .gkCols4 .box.gkmod-more.gkmod-last-1:last-child,
body .gkCols4 .box.gkmod-more.gkmod-last-2:last-child,
body .gkCols4 .box.gkmod-more.gkmod-last-2:nth-last-child(2),
body .gkCols4 .box.gkmod-more.gkmod-last-3:last-child,
body .gkCols4 .box.gkmod-more.gkmod-last-3:nth-last-child(2),
body .gkCols4 .box.gkmod-more.gkmod-last-3:nth-last-child(3) {
	width: 100%!important;
}

/* 6-column layout */
body .gkCols6 .box.gkmod-more:nth-child(1n) { 
	clear: both; 
}
body .gkCols6 .box.gkmod-1,
body .gkCols6 .box.gkmod-2,
body .gkCols6 .box.gkmod-3,
body .gkCols6 .box.gkmod-4,
body .gkCols6 .box.gkmod-more,
body .gkCols6 .box.gkmod-5,
body .gkCols6 .box.gkmod-more,
body .gkCols6 .box.gkmod-6,
body .gkCols6 .box.gkmod-more,
body .gkCols6 .box.gkmod-more.gkmod-last-1:last-child,
body .gkCols6 .box.gkmod-more.gkmod-last-2:last-child,
body .gkCols6 .box.gkmod-more.gkmod-last-2:nth-last-child(2),
body .gkCols6 .box.gkmod-more.gkmod-last-3:last-child,
body .gkCols6 .box.gkmod-more.gkmod-last-3:nth-last-child(2),
body .gkCols6 .box.gkmod-more.gkmod-last-3:nth-last-child(3),
body .gkCols6 .box.gkmod-more.gkmod-last-4:last-child,
body .gkCols6 .box.gkmod-more.gkmod-last-4:nth-last-child(2),
body .gkCols6 .box.gkmod-more.gkmod-last-4:nth-last-child(3),
body .gkCols6 .box.gkmod-more.gkmod-last-4:nth-last-child(4),
body .gkCols6 .box.gkmod-more.gkmod-last-5:last-child,
body .gkCols6 .box.gkmod-more.gkmod-last-5:nth-last-child(2),
body .gkCols6 .box.gkmod-more.gkmod-last-5:nth-last-child(3),
body .gkCols6 .box.gkmod-more.gkmod-last-5:nth-last-child(4),
body .gkCols6 .box.gkmod-more.gkmod-last-5:nth-last-child(5) {
	width: 100%!important;
}

/* article fix */
#gkContent article > time {
	display: none!important;
}
#gkContent article > time + header {
	padding-left: 0!important;
}
#gkContent article header li.itemDate,
#gkContent article header li.item-date {
	display: block;
}

/* NSP adjustments */
.nspArtPage .nspArt {
	border-top: 1px solid #eee!important;
	border-left: none!important;
	padding-bottom: 20px!important;
	padding-top: 20px!important;
	width: 100%!important;
}
.nspArtPage .nspArt:first-child {
	border-top: none!important;
}

/* other elements */
article header h1, 
.category header {
	line-height: 32px;
	padding: 18px 0 0px;
}

article header h1, 
.category header, 
article header h2 {
	font-size: 24px;
}

h1 {
	font-size: 28px;
}

h2, 
.componentheading,
.category header h2 {
	font-size: 28px;
}

article header h2 {
	line-height: 32px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

#gkSocialAPI {
	overflow: hidden;
}

.cols-2 .column-2, 
.cols-3 .column-3 {
	padding: 0!important;
}

.itemComments .itemCommentsList li img {
	float: left;
	margin-left: 0;
	margin-right: 10px;
	position: static;
}

.itemCommentsList li h3 {
	float: none;
	margin-top: 5px;
}

#gkMainbody .registration {
	width: 100%;
}

/* NSP */
.box.header .nspImageWrapper h4 {
	font-size: 14px!important;
}

.nspArts,
.nspLinksWrap {
	clear: both;
	float: left!important;
	width: 100%!important;
}

/* Demo content */
.gkPriceTable dl {
	margin: 20px auto!important;
	width: 100%!important;
}

.gkButtonArea h3 small {
	line-height: 22px;
	margin-top: 10px;
}

.gkHorizontalSlideLeftColumn {
	width: 100%;
}

.gkHorizontalSlideRightColumn {
	display: none;
}

.box.layered {
	padding-top: 100px;
}

.box.centered h2.header {
	font-size: 30px;
}

.imageBg #gkHeaderMod input[type="email"],
.imageBg #gkHeaderMod input[type="submit"],
.imageBg #gkHeaderMod .gk-form {
	width: 250px;
}

.imageBg #gkHeaderMod .gk-form {
	margin: 25px 0;
}

.imageBg #gkHeaderMod .gk-video-link {
	font-size: 18px;
}

.imageBg #gkHeaderMod h1 {
	font-size: 24px;
	line-height: 1.2;
	letter-spacing: normal;
}

.imageBg #gkHeaderMod h2 {
	font-size: 15px;
	line-height: 1.2;
}

.imageBg #gkHeaderMod {
	padding: 30px 10px 20px 10px!important;
}

.imageBg #gkHeader {

}
#gkLogo {
    margin: 15px 0px 0px 0;
    padding: 0;
    height: auto;
    width: auto;
    text-indent: -999em;
    text-shadow: none;
    display: inline-block;
    float: left;
    -webkit-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    transition: background-color .3s linear;
}
#gkFooterNav li {
	float: none;
}

/* K2 fixes */
.itemBody.containsItemInfo, 
.itemOtherElements.containsItemInfo,
.itemListView .itemBlock.containsItemInfo {
	margin-left: 0!important;
}

aside.itemAsideInfo {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 20px 0!important;
	position: static!important;
	width: 100%!important;
}

.itemCommentsList li > div > div > span {
	clear: both;
	display: block;
}

.itemCommentsList li > div {
	margin-left: 0!important;
	padding-left: 0!important;
}

.itemComments h3 {
	font-size: 30px;
	padding: 30px 0 0;
}

.items-row > div {
	margin-bottom: 30px;
	padding: 0!important;
}

article header h1,
article header h2 {
	font-size: 24px!important;
	line-height: 1.2;
}

.genericView .itemView {
	padding: 0!important;
	width: 100%!important;
}

.itemAuthorDetails {
	clear: both;
	margin-left: 0!important;
}

.itemAuthorData {
	padding: 16px 0;
}

.itemAuthorData img {
	display: block;
	margin: 0 0 20px 0;
}
.mod-languages {
    float: right;
    top: 20px;
    position: relative;
    overflow: hidden;
    height: 34px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 44px;
    right: 59px;
    background: #004488;
    color: #ffffff;
}
.form-search {
    position: absolute;
    right: 6%;
    top: 80px;
    z-index: 1;
}
#gkMobileMenu {
    display: block!important;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    text-indent: -9999px;
    width: 44px;
    margin-right: 0;
    right: 17px;
    margin-top: 0;
}
.custom_navigator a{
    text-decoration: none;
    margin-bottom: 5px;
    display: inline-block;
}
#itemListLeading img {
    max-width: 170%!important;
    left: 0;
    position: relative;
}
#itemListSecondary .itemImage, #itemListPrimary .itemImage,
#second_tags .itemImage{
    max-height: 180px;
    overflow: hidden;
    margin-bottom: 10px;
}
#itemListPrimary .itemContainer, #itemListSecondary .itemContainer,
#itemListSecondary .itemContainer.itemContainerLast, #second_tags{
    width: 100%!important;
	max-width: 655px;
}
.custom-p .itemIntroText{
	display: none;
}
.itemAsideInfo {
    padding: 0 10px;
}
.custom-p h1 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;
}
.itemAsideInfo {
    bottom: 10px;
}
.allmode-sidebar .allmode-item:nth-child(odd) {
    float: none;
}
.allmode-sidebar .allmode-item:nth-child(even) {
    float: none;
}
.allmode-sidebar .allmode-item{
	margin: 0 auto 15px;
}
.custom-p .box .header{
	text-align: center;
}
@media (min-width:420px){
	.share-buttons .col-xs-12 {
		width: 100%;
	}
}
@media (max-width:418px){
	#itemListLeading .post_title h2 a,
	#first_tags .post_title h2 a {
		font-size: 7vw;
	}
	.genericView .itemView h2,
	#itemListLeading .post_title > h2 {
	line-height: 0.8;
	}
}
.genericView #first_tags img {
    height: auto!important;
    max-width: 143%!important;
}
#itemListLeading .itemContainer.itemContainerLast::before, .itemImage-block::before {
    margin-left: 0;
}
#first_tags::before {
    margin-left: 0;
}
#first_tags .itemImage{
	margin-bottom: 0;
}
.new_product.after_readmore h1 {
    font-size: 6vh;
}
.product_ench {
    width: 100%;
    float: none;
    text-align: center;
    min-height: 0;
    margin-bottom: 25px;
}
.after_readmore {
    padding-bottom: 0px;
    margin-bottom: 0;
}
.single_product .share-buttons {
    position: absolute;
    bottom: 15px;
    left: 0;
    display: table;
    right: 0;
    margin: 20px auto 10px!important;
}
.adresses ul li {
    background: none!important;
    border-bottom: 1px solid #fff;
    position: relative;
    padding: 45px 5px 7px 5px!important;
    overflow: hidden!important;
    text-align: center;
}
#k2Container .adresses ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: grey;
}
#new_product_map {
    height: 300px;
}
#k2Container .adresses ul li.active::after {
    content: 'Активное';
    text-transform: uppercase;
    font-size: 10px;
    border: 1px solid #ffffff;
    padding: 7px 7px 5px;
    right: 8px;
    top: 8px;
    background: #e1271b;
    position: absolute;
    line-height: 1;
}
.after_readmore .new_product_desc, .after_readmore .new_product_text.product_map {
    width: 100%;
    float: none;
    padding: 0px 20px;
    margin-bottom: 30px;
}
#k2Container .adresses ul {
    height: 268px;
}
.search_city, .adresses {
    padding: 0;
}
.new_product_image, .new_product_text {
    width: 100%;
    float: none;
    font-size: 18px;
}
.before_readmore .new_product_desc p{
	padding: 0 10px;
}
.new_product h1 {
    text-align: center;
    padding: 0 10px; 
}
.new_product.after_readmore > div {
    max-width: 1280px;
    padding: 45px 0 75px;
}
.formResponsive .formHorizontal .rsform-block,
.formResponsive .formHorizontal .formControlLabel {
    text-align: center!important;
}
.form_question .formControls button[type="submit"] {
    margin: 0 auto;
    display: table;
    float: none;
}
.num_row {
    border-bottom: 0px solid #e1e1e1; 
    padding: 0;
    flex-wrap: wrap;
    max-width: 230px;
    margin: 0 auto;
    display: inline;
}